<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebApplication6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <WebApplication6.Properties.Settings>
            <setting name="WebApplication6_WS_AccelerationUnit" serializeAs="String">
                <value>http://www.webservicex.net/ConvertAcceleration.asmx</value>
            </setting>
            <setting name="WebApplication6_WS2_CurrencyConvertor" serializeAs="String">
                <value>http://www.webservicex.net/currencyconvertor.asmx</value>
            </setting>
        </WebApplication6.Properties.Settings>
    </applicationSettings>
</configuration>
