/* seletores por tag */
body {
	background-color: black;
	color: white;
	font-family:arial;
}
h1 {
	color: orange;
}
input, select, textarea, button {
	background-color: orange;
	color: white;
	border: solid 2px white;
	margin: 5px;
}
/* seletor por id */
#assunto {
	background-color: black;
	color: orange;
}
/*seletor por apelido */
.btn
{
	background-color: magenta;
	margin-left:21%;
	width: 20%;
	height: 30px;
	border-radius: 10px 0px 10px 0px ;
}

label {
	width:20%;
	display: inline-table;
}

@media screen and (min-width: 0px) and (max-width: 600px) 
{
	body {
		margin: 0px;
	}

	input, select, textarea, button {
		width: 95%;
		height: 30px;
	}
	label {	
		padding:5px;
		display: block;	
	}
	.btn
	{
		background-color: magenta;
		margin-left:5%;
		width: 90%;
		height: 50px;
		border-radius: 10px 0px 10px 0px ;
	}
}





